.review-detail {
  padding: 0 16px 80px 16px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(226, 225, 229, 1);
  }

  .review-content-container {
    margin-top: 9px;
  }

  .review-is-useful-container {
    margin-top: 24px;
  }
}
